name: ADI Inactivity Reminder

on:
  schedule:
    - cron: '0 0 * * *'   # every day at midnight UTC
  workflow_dispatch:      # also allow manual runs

jobs:
  send-reminders:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '21'
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install deps
        run: pnpm install --frozen-lockfile
      - name: Run inactivity check
        env:
          DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
        run: pnpm start
      - name: Touch boob (haha I am funny)
        run: mkdir boob && touch boob/boob
      - name: Deploy (this is to prevent GitHub from disabling this job)
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: boob
          commit-message: Deploy
          single-commit: true
